.feedback-modal-background
    .feedback-modal.animate
        .feedback-modal-header Feedback
        .feedback-modal-content
            form#feedback-form(action="")
                input(type="text", name="feedback" placeholder="Write something..." rows="5")
                input(type="submit", value="Send").bttn.feedback-modal-button-send
