#login-modal.modal
    form#login-form.modal-content.animate
        .form-field-row
            .modal-header= 'Login  '
                i.fas.fa-sign-in-alt
            span#close-login-modal.close ×
        #login-errors
        .form-field-column
            label(for='login-email')
                b Username / Email
            input#login-email.input-field(type='text', placeholder='Enter Username or Email', name='email')
        .form-field-column
            label(for='login-password')
                b Password
            input#login-password.input-field(type='password', placeholder='Enter Password', name='password')
        .form-field-row
            #submit-login.bttn Login
