.navbar
    a.navbar-elem.hide-mobile.no-select(href='/') TakeNote
    if includeSandwich
        .navbar-elem.show-mobile.no-select(onclick='if(isSidebarOpen()) {closeSidebar();} else {openSidebar();}')
            i.fas.fa-bars
    else
        a.navbar-elem.show-mobile.no-select(href='/') tn
    if isAuthenticated
        .navbar-elem.dropdown.no-select(onclick='')= loggedUser.username + ' '
            i.fa.fa-caret-down
            .dropdown-content.animate
                a.dropdown-element(href='/') Home
                a.dropdown-element(href='/dashboard') Dashboard
                span.dropdown-logout.logout-button(onclick='logout();') Logout