.navbar
    a.navbar-elem.hide-mobile(href='/') TakeNote
    if includeSandwich
        .navbar-elem.show-mobile(onclick='if(isSidebarOpen()) {closeSidebar();} else {openSidebar();}')
            i.fas.fa-bars
    else
        .navbar-elem.show-mobile tn
    if isAuthenticated
        .navbar-elem.dropdown.no-select= loggedUser.username + ' '
            i.fa.fa-caret-down
            .dropdown-content.animate
                a.dropdown-element(href='/') Home
                a.dropdown-element(href='/dashboard') Dashboard
                span.dropdown-logout#logout-button Logout
    else
        #open-login.navbar-elem.no-select= 'Login  '
            i.fas.fa-sign-in-alt
        include login_modal