.navbar
    a.navbar-elem.hide-mobile(href='/') TakeNote
    .navbar-elem.show-mobile
        i.fas.fa-bars
    if isAuthenticated
        .navbar-elem.dropdown.no-select= loggedUser.username + ' '
            i.fa.fa-caret-down
            .dropdown-content.animate
                a.dropdown-element(href='/dashboard') Dashboard
                span.dropdown-logout#logout-button Logout
    else
        #open-login.navbar-elem.no-select= 'Login  '
            i.fas.fa-sign-in-alt
        include login_modal