.photo-modal-background
    .photo-modal.animate
        .photo-modal-header Note Attachments
        .photo-modal-content
        .photo-modal-footer
            label.bttn.photo-modal-button-add(for="file-input") Add photo (jpeg or png only)
                input#file-input(type="file" name="photo" accept="image/png, image/jpeg")
