extends layout

block content
    .dashboard-content
        .sidebar
            .sidebar-tools.sidebar-container.no-select(onclick='addCollection();')
                i.fas.fa-plus
        .dashboard-workspace
            .dashboard-workspace-tools
                .note-title-field.animate-focus(contenteditable='true' data-placeholder='Title' spellcheck='false')
                .dashboard-workspace-buttons
                    i.fas.fa-share-alt.no-select(onclick='shareNote();')
                    i.fas.fa-copy.no-select(onclick='copyContentToClipboard();')
                    i.fas.fa-paperclip.no-select(onclick='viewAttachments();')
                    i.fas.fa-trash.no-select(onclick='deleteNote();')
                    .save-button.no-select(onclick='updateNote();')
                        i.fas.fa-save
            .dashboard-workspace-textarea-bg TakeNote
                .dashboard-workspace-textarea.animate-focus(contenteditable='true' data-placeholder='...content' spellcheck='false')
    script(src='javascripts/dashboardUtils.js')