extends layout

block content
    //include partials/sidebar
    .dashboard-content
        .sidebar
        .dashboard-workspace
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quisquam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quisquam.
    script(src='javascripts/dashboardUtils.js')