extends layout

block content
    .dashboard-content
        .sidebar
            .sidebar-tools.sidebar-container(onclick='addCollection();')
                i.fas.fa-plus
        .dashboard-workspace
            .dashboard-workspace-tools
                .note-title-field.animate-focus(contenteditable='true' data-placeholder='Write title here')
                .dashboard-workspace-buttons
                    i.fa.fa-caret-down.show-mobile(onclick='')
                    i.fas.fa-share-alt.hide-mobile(onclick='shareNote();')
                    i.fas.fa-copy.hide-mobile(onclick='copyToClipboard();')
                    i.fas.fa-paperclip.hide-mobile(onclick='viewAttachments();')
                    i.fas.fa-trash.hide-mobile(onclick='deleteNote();')
                    .save-button(onclick='updateNote();')
                        i.fas.fa-save
                        //i.fas.fa-spinner.animate-rotation-clockwise
            .dashboard-workspace-textarea.animate-focus(contenteditable='true' data-placeholder='...and the note content here :D')
    script(src='javascripts/dashboardUtils.js')