extends layout

block content
    .dashboard-content
        .sidebar.hide-mobile
        .dashboard-workspace
            .dashboard-workspace-tools
                .note-title-field.animate-focus(contenteditable='true')
                .dashboard-workspace-buttons
                    i.fas.fa-paperclip(onclick='vievAttachments();')
                    i.fas.fa-trash(onclick='deleteNote();')
                    .save-button(onclick='updateNote();') SAVE
            textarea.dashboard-workspace-textarea.animate-focus
    script(src='javascripts/dashboardUtils.js')