extends layout

block content
    .dashboard-content
        .sidebar.hide-mobile
        .dashboard-workspace
            .dashboard-workspace-tools
                .note-title-field(contenteditable='true')
                .save-button(onclick='updateNote();') SAVE
            textarea.dashboard-workspace-textarea
            //p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quisquam.
            //p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quisquam.
    script(src='javascripts/dashboardUtils.js')