extends layout

block content
  div(style="text-align: center;")
    h1(style="text-transform: capitalize;")= (message ? message : "") + " :("
    h2= "Error " + (error.status ? error.status : 500)
    span="Nothing to see here... Want to "  
      a(href="/") go back home
    span ?
  //- pre #{error.stack}
