extends layout

block content
    .index-content
        .index-text
            p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias animi aperiam asperiores
            | beatae blanditiis cum deserunt dicta dolorem dolorum eos exercitationem fuga harum impedit libero
            | molestias necessitatibus neque non, officiis omnis perferendis perspiciatis placeat quaerat quas
            | quos similique soluta vitae. Accusantium aliquam aut commodi consequatur cum dolore dolorem
            | earum eligendi est et excepturi harum hic iusto labore laborum magnam maiores maxime minus
            | molestias numquam obcaecati odit perspiciatis praesentium provident qui quibusdam
            | reiciendis rem repellat repudiandae soluta, tempore tenetur voluptate voluptatibus.
            | Ab adipisci blanditiis distinctio dolorem expedita fuga iure, libero modi mollitia
            | nesciunt ratione repellendus similique velit. Accusamus alias aliquid cum
            | dolore earum esse illum ipsam ipsum iste iusto laborum libero, modi
            | mollitia quaerat, quisquam repellat repellendus repudiandae sit vel?
            //- TODO: de adaugat o imagine/ceva dinamic in partea stanga a homepage-ului
        if !isAuthenticated
            .index-register
                .index-card-header= 'Register  '
                    i.fas.fa-user-plus
                .index-card-left
                form.index-card-middle#register-form
                    .index-card-middle-element
                        label(for='username')
                            b Username
                        input#username(type='text', placeholder='Enter Username', name='username')
                    .index-card-middle-element
                        label(for='email')
                            b Email
                        input#email(type='text', placeholder='Enter Email', name='email')
                    .index-card-middle-element
                        label(for='password')
                            b Password
                        input#password(type='password', placeholder='Enter Password', name='password')
                    .index-card-middle-element
                        label(for='confirm_password')
                            b Confirm Password
                        input#confirm_password(type='password', placeholder='Confirm Password', name='confirm_password')
                .index-card-right
                .index-card-footer
                    #submit-register.bttn(onclick='register();') Register
                    .bttn(onclick='openLogin();')
                        | Go to Login
            .index-login
                .index-card-header= 'Login  '
                    i.fas.fa-sign-in-alt
                .index-card-left
                form.index-card-middle#login-form
                    .index-card-middle-element
                        label(for='login-email')
                            b Username/Email
                        input#login-email(type='text', placeholder='Enter Username/Email', name='email')
                    .index-card-middle-element
                        label(for='login-password')
                            b Password
                        input#login-password(type='password', placeholder='Enter Password', name='password')
                .index-card-right
                .index-card-footer
                    #submit-login.bttn(onclick='login();') Login
                    .bttn(onclick='openRegister();')
                        | Go to Register
        else
            .index-info
                div= 'Hello, ' + loggedUser.username + '!'
                a.index-bttn(href='/dashboard') Dashboard
                a.index-bttn.index-bttn-logout.logout-button(onclick='logout();') Logout
                //- TODO: de adaugat un element in locul ferestrei de register cand user-ul este logat
    script(src='/javascripts/userUtils.js')
                