extends layout

block content
    .index-content
        h1= title
        p Welcome to #{title}
        //img#image_preview(width='200px' height='200px' src='#' alt='Choose photo to upload and show...')
        //br
        //br
        //input#select_file(name='select_file' type='file' value='Select file to upload' accept="image/png, image/jpeg")
        br
        br
        p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam consequuntur dignissimos
        | fugiat rerum sapiente tenetur. Aut beatae cumque dolores dolorum eligendi eos facere fugit impedit iure
        | magnam nihil optio, rem repellendus sequi tempora tempore ullam. Ad aliquid amet animi cumque delectus dolores
        | ea earum, eligendi enim eos esse explicabo in inventore ipsam laborum libero modi molestiae neque odit optio
        | perferendis perspiciatis quasi quibusdam quidem reprehenderit rerum sequi soluta sunt vitae voluptas!
        | Amet architecto dolorum excepturi facilis ipsa necessitatibus repudiandae. Beatae consequatur eaque error et
        | explicabo fugit itaque minima molestiae nam, quia recusandae reiciendis reprehenderit rerum sed sit sunt voluptatum.