doctype html
html(lang='en')
    head
        title= 'TakeNote | ' + title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="theme-color" content="#7fbf7f")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="#7fbf7f")
        //- link(rel='stylesheet' href='/stylesheets/style.min.css')
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet")
        script(src="https://kit.fontawesome.com/d9cfeed8e8.js" crossorigin="anonymous")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
    body
        include partials/navbar
        .separator
        block content
        //- script(src='/javascripts/all.min.js')
        script(src='/javascripts/dashboardUtils.js')
        script(src='/javascripts/userUtils.js')
        script(src='/javascripts/fileUtils.js')
        script(src='/javascripts/searchUtils.js')
        script(src='/javascripts/feedbackUtils.js')
        script(src='/javascripts/sharedUtils.js')
